@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    overflow-x: hidden;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,p{
    overflow: hidden;
}
p{
    text-shadow: 0px 0px 3px grey;
}
.font1{
    font-family: 'Righteous', cursive;
}
.app{
    background: linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6)),url("./images/bc.webp") center center no-repeat fixed;
    background-size: cover;
    min-height: 100vh;
}
.lg{
    color: rgb(141, 136, 136);
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col{
    flex-direction: column;
}
.hr{
    width: 95%;
    background: gray;
}
.grid{
    /* padding: 1rem; */
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
.contactForm{
    width: 50vw;
    margin: auto;
    background-color: rgba(4, 107, 4, 0.71);
    height: 80vh;
    border-radius: 20px;
}
.contactForm form{
    padding: 2rem;
    border-radius: 10px;
    background-color: #fff;
}
.contactForm span,.contactForm input,.contactForm textarea{
    background-color: transparent;
    /* border: none; */
    outline: none;
    border-bottom: 1px solid grey;
}
.contactForm span{
    border-right:1px solid grey ;
    width: 100px;
}
.flex{
    width: 95%;
    margin: auto;
    min-height: 80vh;

}
.Innerflex{
    width: 49%;
    text-shadow: 0px 0px 5px grey;
    max-height: 100vh;
}
.Innerflex p{
    font-size: 1.4rem;  
     
}
.Innerflex .btn{
    overflow: hidden;
}
.canva{
    width: 100%;
    height: 80vh !important;
}
/* contact */
.content {
    margin: 2rem 0;
  }
  .content .card {
    margin: 1rem auto;
    width: 70vw;
    overflow: hidden;
    position: relative;
  }
  .content .card-header {
    background-color: white;
    color: white;
    z-index: 9;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
  }
  .content .card-header i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: greenyellow;
  }
  .content ul {
    position: relative;
    transition: .3s all ease;
    max-height: 40vh;
    overflow: scroll;
  }
  .content .abs {
    position: absolute;
  }
  .content .list-group-item {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    transition: .3s all ease;
  }
  .content .list-group-item:hover {
    background-color: #c8eff9;
  }
  .content .list-group-item i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.5);
  }
  
  .contact h2 {
    text-align: center;
  }
  .contact .team {
    width: 95vw;
    margin: auto;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around !important;
    overflow: hidden;
  }
  .contact .team .team_card {
    width: 400px;
    aspect-ratio: 0.8;
    background: linear-gradient(transparent 30%, white);
    border-radius: 20px;
    margin-bottom: 2rem;
    transition: .3s all ease;
  }
  .contact .team .team_card:nth-child(odd) {
    transform: translateY(5%);
  }
  .contact .team .team_card:nth-child(odd):hover {
    transform: none;
  }
  .contact .team .team_card:hover {
    transform: translateY(-5%);
    box-shadow: 0px 23px 10px rgba(0, 0, 0, 0.25);
  }
  .contact .team .team_card .team_up {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./images/team_bc.png") center center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .contact .team .team_card .team_up img {
    width: 40%;
    border-radius: 50%;
    transform: translateY(10%);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), -1px -1px 5px rgba(0, 0, 0, 0.5), inset 1px 1px 10px rgba(0, 0, 0, 0.5);
  }
  .contact .team .team_card .team_down {
    width: 100%;
    height: 50%;
    margin-top: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contact .team .team_card .team_down h3 {
    color: rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  .contact .team .team_card .team_down .links {
    font-size: 1.5rem;
  }
  .contact .team .team_card .team_down .links i {
    margin: 0 1rem;
    cursor: pointer;
    color: #558dca;
  }
@media only screen and (max-width: 900px) {
    .grid {
        grid-template-columns: 1fr ;
    }
    .card{
        width: 90vw !important;
        margin: auto;
    }
    .ex div{
        width: 100%;
    }
    .contact{
        width: 95vw;
    }
    .flex{
        width: 100vw !important;
        flex-direction: column;
        height: 120vh;
    }
    .Innerflex{
        width: 100%;
    }
    .canva{
    width: 100%;
    height: 50vh !important;
}
.res{
    flex-direction: column;
    justify-content: center;
}
.Innerflex p{
    font-size: 1rem;   
}
.threeD{
    width: 100vw;
    height: 50vh;
}
.canvas{
    height: 50vh;
}
.content .card {
    width: 90vw;
  }
  .team {
    flex-direction: column;
  }
  }
@media only screen and (max-width: 1100px) {
    
    .card{
        width: 400px !important;
        margin: auto;
    }
    .ex section{
        bottom: 10px;
    }
  }